.bootstrap-over {
    color: aquamarine;
}

.haha{
    border-radius: 20px;
}

.haha2{
    border-radius: 20px 20px 0px 0px;
}

#imageo{
    height: 195px;
}

#overrr{
    height: 195px
}

#imageo0{
    visibility: hidden;
}

#imagewrite{
    height: 195px;
}
#mahphoto{
    height: 200px;
    border-radius: 50%;
}
.bottom{
    background-color: black;
    color: white;
    text-align: center;
}

.myform{
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.mybtn{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainclass{
    display: block;
    height: 86vh;
}